/* Custom ScrollBar CSS */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

.thumbnails::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  ::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.1);
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.2);
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.4);
  }
  ::-webkit-scrollbar-thumb:active {
    background: rgba(0, 0, 0, 0.9);
  }
  

#details.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

#details .productGallery {
    grid-column: 1 / 2;
}


#details .productDetails {
    grid-column: 2 / 6;
}



.productGallery .flexWrapper {
    display: flex;
    border: 2px solid #f0f0f0;
    border-left: 0;
    
}

.thumbnails {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    max-height: 458px;
    overflow-y: auto;
    margin: 0;
}

.thumbnails li {
    text-align: center;
    border: 2px solid #f0f0f0;
    margin-bottom: 5px;
    cursor: pointer;
    padding: 7px 0;
    margin-right: 3px;
}

.thumbnails li img {
    width: 100px;
    height: 128px;
}

.productImage {
    margin: 0 auto;
}