#details.wrapper {
  display: block;
  width: 93%;
  margin-left: auto;
  margin-right: auto;
  min-width: 1251px;
  max-width: 1483px;
  margin-top: 45px;
}

#details .productGallery {
  grid-column: 1 / 2;
  position: fixed;
  top: 180px;
  width: 30%;
}

#details .productDetails {
  padding: 0 10px;
  float: left;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 25px;
}

.productGallery .flexWrapper {
  display: flex;
  border: 2px solid #f0f0f0;
  border-left: 0;
  width: 100%;
}

.thumbnails {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  margin: 0;
  max-height: 65vh;
}

.thumbnails li {
  text-align: center;
  border: 2px solid #f0f0f0;
  margin-bottom: 5px;
  cursor: pointer;
  padding: 7px 0;
  margin-right: 3px;
}

.thumbnails li img {
  width: 100px;
  height: 128px;
}

.productImage {
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.videoThumbnail {
  background-color: rgba(0, 0, 0, 0.5);
}

.thumbnails li:active, .thumbnails li:hover {
  border: 2px solid #1a47ea;
}

.btnprimary {
  padding: 18px 8px;
  border-radius: 2px;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
  width: 98%;
  border: none;
  margin-right: 4px;
  font-family: 'Roboto', sans-serif;
  background-color: #1f2833;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}

.btnprimary:hover {
  box-shadow: 0 4px 6px 0 rgb(0 0 0 / 12%);
}

.buttonWrapper {
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
}

.BreadCrumbs {
  display: flex;
  position: relative;
}

.Crumbs svg {
  transform: rotate( 180deg);
  height: 11px;
}

.ratings .checked {
  color: orange;
}

.badgeWrapper {
  margin: 7px 0;
}

#productPreview {
  width: 68%;
  text-align: center;
  max-height: 65vh;
}

.PhonestaBadge {
  background-color: #1f2833;
  padding: 4px;
  margin: 5px 0;
  display: block;
  width: 10%;
  text-align: center;
  color: #fff;
  border-radius: 4px;
  font-weight: 400;
}

.productDescription {
  font-weight: 500;
  text-align: justify;
  line-height: 23px;
}

.PrcingList {
  background-color: #f9f9f9;
}

.PrcingList-row {
  margin: 0;
  padding: 10px 0;
  list-style: none;
}

.pricing-row:after {
  content: '';
  display: table;
  clear: both;
}

.pricing-row-even {
  background-color: #e3e3e3;
}

.pricing-row li {
  display: inline-block;
  vertical-align: top;
  float: left;
  line-height: 45px;
}

.pricingdetails {
  text-align: center;
  padding: 20px 40px;
}

.stocksleft-li, .stocksleftcount, .DeliveryDate, .pricingdetails-star, .pricingdetails-track, .pricingdetails-time {
  min-width: 54px;
  text-align: center;
  width: 16%;
}

.totalpieces-li {
  width: 40%;
  min-width: 160px;
  font-size: 18px;
  font-weight: normal;
  padding-top: 3px;
  text-align: center;
}

.pricingdetails-title {
  width: 40%;
  min-width: 160px;
}

.guiz-awards-subtitle {
  color: #858585;
  font-size: 14px;
  font-weight: 300;
}

.stocksleftcount, .DeliveryDate {
  width: 22%;
  min-width: 80px;
  font-size: 18px;
  line-height: 45px;
  font-family: 'Roboto', sans-serif;
}

.pricingdetails-track, .pricingdetails-time {
  width: 22%;
  min-width: 80px;
}

.stocksleftcount .null, .DeliveryDate .null {
  color: #bababa;
}

.color {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #bdc2c1;
  background: #d6d6d6;
  margin: 0 auto;
}

.bluePhone {
  border-color: #033357;
  background: #033357;
}

.blackPhone {
  border-color: #1c1b21;
  background: #1c1b21;
}

.redPhone {
  border-color: #e13738;
  background: #e13738;
}

.purplePhone {
  border-color: #aea5dc;
  background-color: #aea5dc;
}

.specificationWrapper {
  border: 1px solid #f0f0f0;
  margin-top: 12px;
}

.Specifications {
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
}

.Specifications input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.specification {
  width: 100%;
  color: white;
  overflow: hidden;
}

.specification-label {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background: #2c3e50;
  font-weight: bold;
  cursor: pointer;
  color: #ffffff;
}

.specification-label:hover {
  background: #1a252f;
}

.specification-label::after {
  content: "â¯";
  width: 1em;
  height: 1em;
  text-align: center;
  transition: all 0.35s;
}

.specification-content {
  max-height: 0;
  padding: 0 1em;
  color: #2c3e50;
  background: white;
  transition: all 0.35s;
}

.specification-close {
  display: flex;
  justify-content: flex-end;
  padding: 1em;
  font-size: 0.75em;
  background: #2c3e50;
  cursor: pointer;
}

.specification-close:hover {
  background: #1a252f;
}

.Specifications input:checked+.specification-label {
  background: #1a252f;
}

.Specifications input:checked+.specification-label::after {
  transform: rotate(90deg);
}

.Specifications input:checked~.specification-content {
  max-height: 100vh;
  padding: 1em;
}

.specs {
  display: flex;
  padding: 10px 0;
}

.specs>dt {
  width: 25%;
}

.specs>dd {
  width: 70%;
}

#details .card {
  position: relative;
  display: flex;
  width: 47%;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #d2d2dc;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 5px 0px rgb(249, 249, 250);
  -moz-box-shadow: 0px 0px 5px 0px rgba(212, 182, 212, 1);
  box-shadow: 0px 0px 5px 0px rgb(161, 163, 164);
  margin-bottom: 18px;
  margin-right: 12px;
}

#details .card .card-body {
  padding: 1rem 1rem
}

#details .card-body {
  flex: 1 1 auto;
  padding: 1.25rem;
  position: relative
}

#details .profile {
  margin-top: 16px;
  margin-left: 11px
}

#details .profile-pic {
  width: 58px;
  height: 58px;
  border-radius: 50%;
}

#details .cust-name {
  font-size: 18px
}

#details .cust-profession {
  font-size: 10px
}

#details .items {
  width: 100%;
  margin: 0px auto;
  margin-top: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#details .card-title {
  margin: 0;
}

#details .profile-picture {
  position: absolute;
  top: 30px;
  right: 30px;
}

.relatedItems .product-card {
  width: 400px;
  position: relative;
  box-shadow: 0 2px 7px #dfdfdf;
  margin: 10px 5px;
  background: #fafafa;
}

.relatedItems .badge {
  position: absolute;
  left: 0;
  top: 20px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  background: red;
  color: #fff;
  padding: 3px 10px;
}

.relatedItems .product-tumb {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45%;
  padding: 0px;
  background: #f0f0f0;
}

.relatedItems .product-tumb img {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
}

.relatedItems .product-details {
  padding: 22px;
}

.relatedItems .product-catagory {
  display: block;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ccc;
  margin-bottom: 18px;
}

.relatedItems .product-details h4 a {
  font-weight: 500;
  display: block;
  margin-bottom: 18px;
  text-transform: uppercase;
  color: #363636;
  text-decoration: none;
  transition: 0.3s;
}

.relatedItems .product-details h4 a:hover {
  color: #fbb72c;
}

.relatedItems .product-details p {
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 18px;
  color: #999;
}

.relatedItems .product-bottom-details {
  overflow: hidden;
  border-top: 1px solid #eee;
  padding-top: 20px;
}

.relatedItems .product-bottom-details div {
  float: left;
  width: 50%;
}

.relatedItems .product-price {
  font-size: 18px;
  color: #fbb72c;
  font-weight: 600;
}

.relatedItems .product-price small {
  font-size: 80%;
  font-weight: 400;
  text-decoration: line-through;
  display: inline-block;
  margin-right: 5px;
}

.relatedItems .product-links {
  text-align: right;
}

.relatedItems .product-links a {
  display: inline-block;
  margin-left: 5px;
  color: #e1e1e1;
  transition: 0.3s;
  font-size: 17px;
}

.product-links a:hover {
  color: #fbb72c;
}

.detailsWrapper {
  width: 66%;
}

.relatedItems {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.mobile {
  display: none !important;
}
.desktop {
  display: inherit !important;
}

/* Media Queries Starts Here */
@media only screen and (max-width: 1250px) {
  .mobile {
    display: inherit !important;
  }
  .desktop {
    display: none !important;
  }
  #details.wrapper {
    width: 93%;
    min-width: auto;
    max-width: max-content;
    margin-top: 45px;
  }
  #details .productGallery {
    position: static;
    width: 40%;
    margin: 0 auto;
    margin-top: 20px;
    min-width: 415px;
  }

  #details .productDetails {
    padding: 0 10px;
    float: none;
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }
  #productPreview {
    max-height: 95vh;
  }

  .productGallery .flexWrapper {
    flex-direction: column-reverse;
  }
   
  #productPreview {
    margin: 0 auto;
  }

  .productGallery .flexWrapper {
    border: 2px solid #f0f0f0;
  }

  #productPreview {
    max-height: max-content;
    height: 58vh;
  }

  .thumbnails {
    flex-direction: row;
  }

  .thumbnails li {
    margin-right: 25px;
    margin-left: 5px;
  }

  .detailsWrapper {
    width: 95%;
    text-align: center;
  }

  .PhonestaBadge {
    margin: 15px auto;
  }

  #details .items {
    justify-content: center;
  }

  #details .card {
    width: 100%;
  }

  .specs {
    text-align: left;
  }

  .relatedItems {
    justify-content: center;
  }

  #details .items {
    justify-content: flex-start;
  }

}
/* Media Queries Ends Here */