/* Home layout : */
#grid {
    margin: 0;
    display: grid;
    grid-template-areas: "header"
                         "nav"
                         "slider"
                         "offer"
                         "brands"
                         "models"
                         "accessories"
                         "footer";
    grid-template-columns: 100vw;
}

header{
    grid-area: header;
    height: 10vh;
}

nav {
    grid-area: nav;
    height: 10vh;
}

#slideshow {
    grid-area: slider;
}
#offer_banner {
    grid-area: offer;
    
}
#brands {
    grid-area: brands;
}
#top_models {
    grid-area: models;
}
.caption {
    width: 100vw;
    padding: 10px;
    font-size: 4em;
    font-weight: bolder;
    color: #1f2833;
    text-shadow: 2px 2px #f0f0f0;
    text-align: center;
}
.accessories{
    grid-area: accessories;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

footer {
    grid-area: footer;
}

/* Slide show */
ul {
    padding: 0;
    list-style-type: none;
  }

#offer_banner img {
    width : 100vw;
}

#slideshow img{
    width : 100vw;
    height: 100vh;
    object-fit: cover;
  }


@keyframes img1 {
    0%   { opacity: 1; }
    25%  { opacity: 0; }
    50%  { opacity: 0; }
    75%  { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes img2 {
    0%   { opacity: 0; }
    25%  { opacity: 1; }
    50%  { opacity: 0; }
    75%  { opacity: 0; }
    100% { opacity: 0; }
}


@keyframes img3 {
    0%   { opacity: 0; }
    25%  { opacity: 0; }
    50%  { opacity: 1; }
    75%  { opacity: 0; }
    100% { opacity: 0; } 
}

@keyframes img4 {
    0%   { opacity: 0; }
    25%  { opacity: 0; }
    50%  { opacity: 0; }
    75%  { opacity: 1; }
    100% { opacity: 0; }

}

#slideshow li {
    position: absolute;
    top: 20vh;
    left: 0;
    height: 45vh;
    animation-duration: 16s;
    animation-iteration-count: infinite;
}

#slideshow li:nth-child(1) {
  animation-name: img1;
}

#slideshow li:nth-child(2) {
  animation-name: img2;
}

#slideshow li:nth-child(3) {
  animation-name: img3;
}

#slideshow li:nth-child(4) {
  animation-name: img4;
}

#top_models {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: flex-end;
}

#top_models img {
    width: 20vw;
    padding: 2vw;
}
#brands_caption {
    margin-top: 100vh;
    width: 100vw;
    padding: 50px;
    font-size: 4em;
    font-weight: bolder;
    color: #1f2833;
    text-shadow: 2px 2px #f0f0f0;
    text-align: center;
}
#brands{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-bottom: 100px;
}
#brands li {
    border: 1px solid #1f2833;
    color: #f0f0f0;
    background-color: #1f2833;
    width: 20%;
    border-radius: 20px;
    padding: 10px 5px 0 ;
    font-size: 2.5em;
    text-align: center;
    box-shadow: 0 2px 2px rgba(11, 11, 11, 0.5) inset;
}

.shop {
    font-size: 0.5em;
    color: #1f2833;
    text-decoration: none;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    display: inline-block;
    padding: 0 10px;
    border: 1px solid;
    border-color: #d3dce1 #cbd0d3 #858788;
    border-radius: 21px;
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.2) inset, 0 1px 1px rgba(1, 4, 8, 1);
    background-color: #f0f0f0;
      
  }
  .shop:hover {
    text-decoration: none;
    border-color: #377cae #175a9c #0c4893;
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.2) inset, 0 1px 1px rgba(5, 64, 140, 0.2);
    
    background-color: #4fa6e4;
    transform: scale(1.2);
  }
  .shop:active {
    border-color: #094b84 #094b84 #0f4585;
    box-shadow: 0 1px 1px rgba(241, 243, 247, 0.2), 0 0 20px rgba(0, 0, 0, 0.5) inset;
    background-color: #1c7ec9;
    transform: scale(1.2);
  }

@media (max-width:768px) {

    #top_models {
        flex-direction: column;   
    }
    #top_models img {
        margin: auto;
        width: 100%;    
    }
    header{
        height: 20vh;
    }
    nav {
        height: 40vh;
    }
    #slideshow li {
        top: 60vh;
    }
    #brands{
        top: 98vh;
        width: 100%;
        flex-flow: column;
        align-items: center;
    }

    #brands li {
        width: 50%;
        border-radius: 20px;
        padding: 5px 1px 0 ;
        margin: 5% 1%;
        font-size: 2em;
    }

    .accessories {
        flex-direction: column;
        align-items: center;
    }

    .accessories li {
        padding: 5% 0;
    }

}


  

